#fondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://fondosmil.com/fondo/31314.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;

  height: 100vh;
  width: 100vw;
}

.form-floating {
  top: 20px;
  width: 300px;
}

body {
  background-color: #bcd9f5;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card {
  max-width: 50rem;
  padding: 0;
  border: none;
  border-radius: 0.5rem;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

a.active {
  border-bottom: 2px solid #55c57a;
}

.nav-link {
  color: rgb(110, 110, 110);
  font-weight: 500;
}

.nav-link:hover {
  color: #55c57a;
}

.nav-pills .nav-link.active {
  color: black;
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  font-weight: 600;
}

.tab-content {
  padding-bottom: 1.3rem;
}

.form-control {
  background-color: rgb(241, 243, 247);
  border: none;
}

span {
  margin-left: 0.5rem;
  padding: 1px 10px;
  color: white;
  background-color: rgb(143, 143, 143);
  border-radius: 4px;
  font-weight: 600;
}

.third {
  padding: 0 1.5rem 0 1.5rem;
}

label {
  font-weight: 500;
  color: rgb(168, 26, 26);
}

.btn-success {
  float: right;
}

.form-control:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 7px rgba(0, 0, 0, 0.2);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

ul {
  list-style: none;
  margin-top: 1rem;
  padding-inline-start: 0;
}

.search {
  padding: 0 1rem 0 1rem;
}

.ccontent li .wrapp {
  padding: 0.3rem 1rem 0.001rem 1rem;

}

.ccontent li .wrapp div {

  font-size: 1.4rem;
  font-weight: 600;
  color: rgb(27, 26, 26);
}

.ccontent li:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(12, 11, 11);
}

.addinfo {
  padding: 0 1rem;
}

.manito {
  cursor: pointer;

}

.cuenta {

  box-shadow: rgba(48, 47, 47, 0.25) 0px 54px 55px, rgba(53, 53, 53, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.scroll {
  max-height: 500px;
  overflow-y: auto;

} 

.pass{
 
  

  background-color: #f8ce9d;
}


.pass-2{
  
  Background-color: transparent;
}

.imag{
  background-image: url('https://img.freepik.com/vector-gratis/fondo-textura-marmol_125540-356.jpg?w=2000');
}


.sl{
  background-color:rgba(245, 245, 220, 0.493);
  border-radius: 10px;
 
 
}