<app-loader></app-loader>

<div id="fondo">
  <app-navbar></app-navbar>

  <div class="m-4">
    <div class="container card shadow d-flex justify-content-center imag">
      <!-- nav options -->
      <ul class="nav nav-pills mb-3 shadow-sm" id="pills-tab" role="tablist">


        <li class="nav-item sl m-4">
          <h2 class="nav-link manito">Seleccionar cuenta</h2>

        </li>


      </ul>

      <!-- content -->
      <div class="tab-content" id="pills-tabContent p-3">
        <!-- 1st card -->
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">


          <div class="pass">

         
          <div class="scroll" *ngIf="!isLoading">

            <div  class="m-4" *ngFor="let account of userAccounts"
              (click)="onSelect(account)">
              <ul class="ccontent ">
                <li>
                  <div class="wrapp cuenta">
                    <!--
  (click)="getUser(user.id)"
 -->
                    <div class="manito"> Número de cuenta: </div>
                    <h4>{{account.id}}</h4>
                    <a> dinero: $ {{account.money}}</a>
                    <p> <strong> cuenta creada el: </strong> {{account.creationDate| date:'dd/MM/YYYY'}} </p>
                    <div class="row m-4">
                      <div class="col-md-12 m-3 ">
                        <div class="card shadow pass-2 ">

                          <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-success m-2">Pago</button>
                        </div>  
                      </div>
                    </div>
                  </div>            
                </li>
              </ul>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Envío de dinero</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="pago" action="">

        <div  class="modal-body" *ngIf="selectedaccount">
          <h5> N° de cuenta:{{selectedaccount.id}} </h5>
          <input class="form-control form-control-sm m-2" formControlName="amount" type="text" numbers placeholder="ingresar importe"
            aria-label=".form-control-sm example">
            <input class="form-control form-control-sm m-2" formControlName="concept"  type="text" placeholder="concepto de pago"
            aria-label=".form-control-sm example">
            <input class="form-control form-control-sm m-2" formControlName="type"  type="text" placeholder="tipo de pago"
            aria-label=".form-control-sm example">
        </div>
     
     

      </form>

      <div class="modal-footer">
        <button (click)="onSend(selectedaccount)" class="btn btn-primary">Realizar pago</button>
      </div>
    </div>
  </div>
</div>