<app-loader></app-loader>

<div id="fondo">
  <app-navbar></app-navbar>

  <div class="m-4">
    <div class="container card shadow d-flex justify-content-center ">
      <!-- nav options -->
      <ul class="nav nav-pills mb-3 shadow-sm" id="pills-tab" role="tablist">


        <li class="nav-item">
          <h4 class="nav-link manito ">Cuentas asociadas al usuario</h4>
          
        </li>


      </ul>

      <!-- content -->
      <div class="tab-content" id="pills-tabContent p-3">
        <!-- 1st card -->
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

          <div class="scroll" *ngIf="!isLoading">

            <div data-bs-toggle="modal" data-bs-target="#exampleModal" class="" *ngFor="let account of userAccounts">
              <ul class="ccontent ">
                <li>
                  <div class="wrapp cuenta">
                    <!--
  (click)="getUser(user.id)"
 -->
                    <div  class="manito"> Número de cuenta: </div> <h4>{{account.id }}</h4>
                    <p > <strong> cuenta creada el: </strong> {{account.creationDate| date:'dd/MM/YYYY'}} </p> 

                  </div>
                </li>
              </ul>
            </div>
            

          </div>

          
        </div>
      </div>
    </div>

   

  </div>
  



</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Envío de dinero</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h5> N° de cuenta: </h5>
        <input class="form-control form-control-sm" type="text" placeholder="ingresar importe" aria-label=".form-control-sm example">
     
      </div>
      <div class="modal-footer">   
        <button type="button" class="btn btn-primary">Realizar pago</button>
      </div>
    </div>
  </div>
</div>



