<div class="container h-25">
    <div class="row d-flex justify-content-center align-items-center h-25 mt-5">
        <form [formGroup]="searchUsersForm">

            <div class="form-floating mb-3">
                <input type="text" class="form-control" formControlName="userId" />
                <label>Id de usuario</label>
            </div>
            <button (click)="searchUser()" class="btn btn-outline-dark">Buscar usuario</button>
        </form>
        <button (click)="getAllUsers()" class="btn btn-outline-dark mt-3 w-75">Listar todos los usuarios</button>
        <button (click)="getTenUsers()" class="btn btn-outline-dark mt-3 w-75">Listar usuarios en paginación</button>
    </div>
</div>
<div *ngIf="isLoading" class="loader__container">
    <div class="loader">
    </div>
</div>
<div *ngIf="!isLoading" class="row w-100 mt-3 d-flex justify-content-center flex-wrap">
    <app-carduserdetail *ngFor="let user of userList" [detailUser]="user" class="w-75"></app-carduserdetail>
    <div class="w-50 mb-5 row d-flex justify-content-center flex-nowrap  gap-2">
        <button [disabled]="isDisabledPrevious" *ngIf="userList.length<=10 && userList.length>1" class="btn btn-outline-dark" (click)="previousPage()">Anterior</button>
        <button [disabled]="isDisabledNext" *ngIf="userList.length<=10 && userList.length>1" class="btn btn-outline-dark" (click)="nextPage()">Siguiente</button>
    </div>
</div>