<section class="h-fit" style="background-color: #f4f5f7">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-6 mb-4 mb-lg-0">
        <div class="card border" style="border-radius: 0.5rem">
          <div class="row">
            <div
              class="col-md-3 bg-light d-flex justify-content-center align-items-center"
              style="
                border-top-left-radius: 0.5rem;
                border-bottom-left-radius: 0.5rem;
              "
            >
              <img
                src="../../../../assets/icons/profile.svg"
                style="width: 100px"
                alt=""
              />
            </div>
            <div class="col-md-9 bg-dark text-light">
              <div class="card-body py-4 px-2">
                <h5>Información</h5>
                <hr class="mb-4 mt-0" />
                <div class="row">
                  <div class="col">
                    <h6>Nombre</h6>
                    <p>{{ user.first_name }}</p>
                  </div>
                  <div class="col">
                    <h6>Apellido</h6>
                    <p>{{ user.last_name }}</p>
                  </div>
                </div>
                <div class="row">
                  <h6>Email</h6>
                  <p>{{ user.email }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
