<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row">
    <div class="col d-flex flex-column gap-3">
      <h2>Mi perfil</h2>
      <div class="card">
        <div class="card-header">Nombre</div>
        <div class="card-body">
          <p class="card-text text-secondary">{{ user?.first_name }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <div class="">Apellido</div>
        </div>
        <div class="card-body">
          <p class="card-text text-secondary">{{ user?.last_name }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Email</div>
        <div class="card-body">
          <p class="card-text text-secondary">{{ user?.email }}</p>
        </div>
      </div>
      <div class="card">
        <div class="card-header">Puntos</div>
        <div class="card-body">
          <p class="card-text text-secondary">{{ user?.points }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
