<app-navbar></app-navbar>
<div class="container mt-5">
    selectedAccount

    <div class="accordion mb-5" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    Lista de cuentas:
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <div class="loader__container" *ngIf="isLoading">
                        <div class="loader">
                        </div>
                    </div>
                    <ul class="list-group" *ngIf="accountListLoad">
                        <li class="list-group-item" *ngFor="let account of accountList" (click)="setAccount(account)"
                            [ngStyle]="{background:account.isSelected?'salmon':'inherit'}">Nº: {{account.id}} | Monto:
                            {{account.money}} <button class="btn btn-outline-primary m-2" (click)="sendMoney()">Enviar
                                dinero</button> <button class="btn btn-outline-primary m-2" type="button"
                                data-bs-toggle="modal" data-bs-target="#chargemoney">Ingresar dinero</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="chargemoney" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Ingreso de dinero a la cuenta</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="chargeMoneyForm" class="row g-3">
                    <div class="col-auto">
                        <input type="text" numbers style="width:100% ;" formControlName="amount" class="form-control"
                            id="staticEmail2" placeholder="Monto a ingresar">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" (click)="chargeMoney()">Cargar</button>
            </div>
        </div>
    </div>
</div>